.scheduler {
  width: 600px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.person {
  display: flex;
  margin: 0.5rem 1rem;
}

.calendar {
  width: 60%;
  min-width: 720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.5rem;
  padding: 1rem;
}

.capture {
  width: 60%;
  min-width: 720px;
  margin: 0 auto;
  padding: 1rem;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.3rem 0.5rem;
}

select {
  padding: 0 6px;
}
