<div class="scheduler">
  <app-calendar [time]="time" (change)="onDate($event)"></app-calendar>
</div>
<!-- show list of workers -->

<!-- show schedule for the week -->
<div class="calendar">
  @for (w of ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]; track $index) {
    <div class="day border border-primary rounded-md">
      <span>{{ w }}</span>
      <span>
        {{ months[week[$index].month()].substring(0, 3) }}-{{
          week[$index].date()
        }}
      </span>
    </div>
  }
  @for (ctrl of scheduler.controls; track $index) {
    <div class="day border border-primary rounded-md">
      <select class="w-full select select-xs font-bold" [formControl]="getName($index)">
        @for (e of employees(); track $index) {
        <option>{{ e }}</option>
        }
      </select>
      <select class="w-full select select-xs" [formControl]="getStart($index)">
        <option>7:30 AM</option>
        <option>8:00 AM</option>
        <option>8:30 AM</option>
      </select>
      <select class="w-full select select-xs" [formControl]="getEnd($index)">
        <option>2:30 PM</option>
        <option>3:00 PM</option>
        <option>3:30 PM</option>
        <option>4:00 PM</option>
        <option>4:30 PM</option>
        <option>5:00 PM</option>
        <option>5:30 PM</option>
      </select>
    </div>
  }
</div>
<div class="scheduler">
  <app-employees></app-employees>
</div>