<div class="scheduler">
  <app-calendar [time]="time" (change)="onDate($event)"></app-calendar>
</div>
<!-- show list of workers -->

<!-- show schedule for the week -->
<div class="calendar">
  @for (w of ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']; track $index) {
    <div class="day border border-primary rounded-md">
      <button class="btn btn-xs btn-primary hover:btn-secondary" (click)="clear($index)">Clear</button>
      <span>{{ w }}</span>
      <span> {{ months[week[$index].month()].substring(0, 3) }}-{{ week[$index].date() }} </span>
    </div>
  }
  @for (ctrl of scheduler.controls; track $index) {
    <div
      class="day border border-primary rounded-md"
      [class.bg-primary]="getStart($index).value == '7:30 AM'"
      [class.text-primary-content]="getStart($index).value == '7:30 AM'"
    >
      <select class="w-full select select-xs font-bold bg-transparent" [formControl]="getName($index)">
        @for (e of employees(); track $index) {
          <option>{{ e }}</option>
        }
      </select>
      <select class="w-full select select-xs bg-transparent" [formControl]="getStart($index)">
        @for (start of startHours(); track start) {
          <option>{{ start }}</option>
        }
      </select>
      <select class="w-full select select-xs bg-transparent" [formControl]="getEnd($index)">
        @for (end of endHours(); track end) {
          <option>{{ end }}</option>
        }
      </select>
    </div>
  }
</div>
